NEXT_PUBLIC_CONVEX_URL=https://capable-armadillo-539.convex.cloud
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_WAITLIST_URL=/#wait
NEXT_PUBLIC_STUDI_WINDOWS_DOWNLOAD_URL=
